*{
    font-family:sans-serif;
}
div.fullbar{
    color:white;
    background-color: rgb(36, 36, 36);
    display: flex;
    justify-content: space-between;
    /* height: 60px; */
}
div.left{
    display:flex;
}
h3:hover {
    background-color: rgb(0, 0, 0);
  }
h3{
    padding:1rem;
    margin: 0;

}
h3.home{
    background-color: rgb(53, 205, 121);
}
h3.home:hover{
    background-color: rgb(48, 175, 105);
}